.adContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(185, 208, 186);
}

.adbttn{
    background-color:  rgb(185, 208, 186);
    border: none;
    font-size: 25px;
    transition: 4s;
}