.adContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(185, 208, 186);
}

.adbttn{
    background-color:  rgb(185, 208, 186);
    border: none;
    font-size: 25px;
    transition: 4s;
}

.searchBar{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px gray;
}

.topContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.login{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.nav p{
    font-size: 16px;
}

.mainImage{
    display: flex;
    justify-content: center;
    background-image: url('https://www.honest.com/dw/image/v2/BDBW_PRD/on/demandware.static/-/Library-Sites-HC-content/default/dw35d41864/2024/Homepage/full-width/Hero_Desktop_NoCopy.jpg?sw=2000 2x, https://www.honest.com/dw/image/v2/BDBW_PRD/on/demandware.static/-/Library-Sites-HC-content/default/dw35d41864/2024/Homepage/full-width/Hero_Desktop_NoCopy.jpg?sw=1440 1x');
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}

.mainTxt{
    align-self: center;
    padding-left: 200px;
}

.mainBttn{
    font-size: 30px;
    padding: 15px;
    background-color: black;
    color: aliceblue;
    margin-left: 25%;
}
