.adContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(185, 208, 186);
}

.adbttn{
    background-color:  rgb(185, 208, 186);
    border: none;
    font-size: 25px;
    transition: 4s;
}

.searchBar{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px gray;
}

.topContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.login{
    display: flex;
    margin: 0%;
    padding: 0%;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.nav p{
    font-size: 16px;
}
